<%- include('templates/header') %>

<div class="container">
  <h1><%= title %></h1>
  <p>Selamat datang di <%= title %></p>
</div>

<div class="row">
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>

<%- include('templates/footer') %>